<popup-page>
  <popup-header slot="header" pageTitle="{{ 'excludedDomains' | i18n }}" showBackButton>
    <ng-container slot="end">
      <app-pop-out></app-pop-out>
    </ng-container>
  </popup-header>

  <div class="tw-bg-background-alt tw-p-2">
    <p>
      {{
        accountSwitcherEnabled ? ("excludedDomainsDescAlt" | i18n) : ("excludedDomainsDesc" | i18n)
      }}
    </p>
    <bit-section>
      <bit-section-header>
        <h2 bitTypography="h5">{{ "domainsTitle" | i18n }}</h2>
      </bit-section-header>
      <bit-card> </bit-card>
    </bit-section>
  </div>
  <popup-footer slot="footer">
    <button bitButton buttonType="primary" type="submit">
      {{ "save" | i18n }}
    </button>
  </popup-footer>
</popup-page>
